body
	font-family "微软雅黑"
ul
	margin 0 
	padding 0
	list-style none
.iss_head
	width 100%
	height 40px
	border-bottom 1px solid #D6D7DC
	font-size 16px
	text-align center
	position relative
	line-height 40px
	font-family "微软雅黑"
	.cha_cancel
		position absolute
		left 10px
		font-size 14px
		color #323232
	
.issue_search
	width 100%
	height 57px
	padding-left 10px 
	padding-right 10px
	box-sizing border-box
	line-height 57px
	.iss_po
		position relative
		width 75%
		height 34px
		float left
		.ind_search_wor
			width 89%
			height 28px
			background #FFF
			border-radius 3px
			border 1px solid #B5B6BA
			padding-left 28px
			
			margin-top 13px	
			outline none
			font-family "微软雅黑"
		.search_b
			width 12px
			height 12px
			position absolute
			top 23px
			left 10px
		.ind_search_wor
			 color #B4B4B4
			 font-size 12px
		.search_x
			position absolute
			top 2px
			right 15px
			width 14px
			height 14px
			display none
			img
				width 100%
				height 100%
	.issue_add
		float left 
		width 25%
		height 57px
		line-height 57px
		font-size 14px
		color #323232
		text-align right
		img
			width 12px
			height 12px
			margin-right 5px
.issue_mess
	width 100%
	background #FFF
	margin-bottom 15px
	border-bottom 1px solid #D6D7DC
	padding 10px 
	box-sizing border-box
	color #646464
	.mess_tit
		padding-left 15px
		position relative
		&:before
			content ''
			position absolute
			top 10px
			left 0px
			width 6px
			height 6px
			background #BEE949
			border-radius 50%
	.iss_all
		width 100%
		height 28px
		line-height 28px
		.iss_name
			width 24%
			float left
			display inline-block
			text-align right
			margin-right 5px
		input
			width 72%
			border 0px
			border-bottom 1px solid #D6D7DC
			color #B4B4B4
			font-size 14px
			padding-left 2%
			outline none
			font-family "微软雅黑"
.iss_buildings
	width 100%
	background #FFF
	margin-bottom 15px
	border-bottom 1px solid #D6D7DC
	padding 10px
	padding-right 0px 
	box-sizing border-box
	color #646464
	font-size 14px
	.buil_tit
		padding-left 15px
		position relative
		font-size 16px
		&:before
			content ''
			position absolute
			top 10px
			left 0px
			width 6px
			height 6px
			background #49CDE9
			border-radius 50%	
	.buil_radio
		margin-top 5px
		width 92%
		height 67px
		padding-left 8%
		border-bottom 1px solid #D6D7DC
		margin-bottom 10px
		.radio_all
			margin-left 8%
		.radio_one
			float left 
			position relative
			margin-right 15px
			line-height 24px
			.radio_big
				width 7px
				height 7px	
			.dian_one
				position absolute
				width 3px
				height 3px
				top 12px
				left 2px
				background url("../../img/issuebuildings/content_press_icon@2x.png") no-repeat
				background-size cover
				
			
	.iss_cho
		width 100%
		height 30px
		margin-bottom 5px
		.cho_tit
			color #B4B4B4
			line-height 30px
			float left
		.cho_short
			float left 
			margin-left 10px
			margin-right 10px
			width 30%
			height 26px
			border 1px solid #D6D7DC
			border-radius 4px
			background #EFEFF4
			padding-left 10px
			font-size 14px
			font-family "微软雅黑"
			outline none
		.cho_long
			width 70%
			float left
			line-height 28px
			color #B4B4B4
		.radio_one
			float left 
			position relative
			margin-right 15px
			line-height 24px
			.radio_big
				width 7px
				height 7px	
			.rsma
				position absolute
				width 3px
				height 3px
				top 12px
				left 2px
			#radio_two,#radio_three
				display none
		.cho_unit
			color #323232
			float left
			line-height 30px
		textarea
			width 70%
			float left 
			margin-left 10px
			margin-right 10px
			border 1px solid #D6D7DC
			border-radius 4px
			background #EFEFF4
			padding-left 10px
			font-size 14px
			font-family "微软雅黑"
			outline none
		.cho_sel
			height 30px
			position relative
			&:after
				content ''
				position absolute
				top 10px
				right 10px
				background url("../../img/issuebuildings/content_list_icon01@2x.png") no-repeat
				background-size 15px 10px
				width 15px
				height 10px
		.cho_sel_menu
			position absolute
			top 29px
			left -1px
			width 98%
			background #EFEFF4
			padding-left 2%
			border 1px solid #D6D7DC
			border-bottom-left-radius 4px
			border-bottom-right-radius 4px
			display none
			z-index 5
			.sel_menu
				.sel_menu_li
					border-bottom 1px solid #D6D7DC
					color #323232
					width 100%
					line-height 31px
					display inline-block
				.li_line
					border 0px
	.add_pic
		width 74px
		height 74px
		text-align center
		background url("../../img/issuebuildings/content_plus_icon@2x.png") no-repeat 25px 20px #D4D4D9
		margin-top 60px
		line-height 120px
.iss_btn
	position relative
	bottom 0px
	width 100%
	background #FFF
	height 61px
	.iss_btn_one
		display inline-block
		width 96%
		margin-left 2%
		border-radius 4px
		background #EA5404
		height 40px
		line-height 40px
		color #FFF
		text-align center
		margin-top 10px
.wipe
	position absolute
	top 0px
	left 0px
	width 100%
	height 163%
	background rgba(50,50,50,0.5)
	display none
	z-index 2
	.wipe_sm
		position absolute
		top 25%
		left 15%
		width 70%
		height 107px
		border-radius 10px
		background #FFF
		text-align center
		.wipe_sm_p
			font-size 12px
			width 100%
			height 63px
			line-height 63px
			border-bottom 1px solid #d6d7dc
			display inline-block
			color #494949
		.cancel
			width 50%
			height 43px
			text-align center
			line-height 44px
			display inline-block
			float left
			color #727272
		.confirm
			width 49%
			color #EA5404
			border-left 1px solid #d6d7dc
		.wipe_one
			width 100%
			height 43px
			text-align center
			line-height 43px
			color #EB5C18
			display inline-block
@media all and (max-width:350px)
	body
		font-size 12px
	.issue_search
		.iss_po
			width 65%
		.issue_add
			width 30%
	.issue_mess
		.iss_all
			input 
				font-size 12px
	.iss_buildings
		.buil_radio
			height 95px
			