body
	margin 0
	padding 0
.iss_add_all
	background #1D1C1B
	position absolute
	top 0px
	left 0px 
	width 100%
	height 100%
	
.iss_add
	position absolute
	bottom 20%
	width 70%
	left 15%
	height 114px
	.round
		width 95px
		height 114px
		float left
		text-align center
		.round_wh
			width 95px
			height 95px
			display inline-block
			background url("../../img/issue/publish_btn02@2x.png") no-repeat
			background-size cover
		.round_wh_2
			background url("../../img/issue/publish_btn01@2x.png") no-repeat
			background-size cover
		.word_wh
			color #FFF
			font-size 14px
			font-family "微软雅黑"
	.rou_rig
		float right
.add_x
	position absolute
	bottom 20px
	left 50%
	margin-left -7px
	background url("../../img/issue/publish_close_icon@2x.png") no-repeat
	width 14px
	height 14px
	background-size cover
.iss_none
	background rgba(99,99,99,0.5)
	font-family "微软雅黑"
	position absolute
	top 0px 
	left 0px 
	width 100%
	height 100%
	display none
.issue_none
	position absolute
	top 40%
	width 72%
	height 94px
	left 14%
	background #FFF
	border-radius 10px
	text-align center
	.none_wor
		display inline-block
		height 52px
		line-height 52px
		width 100%
		font-size 14px
		color #646464
		border-bottom 1px solid #eeeeee
	.none_can
		display inline-height
		width 50%
		text-align center
		height 41px
		line-height 41px
		color #646464
		font-size 14px
		float left
	.none_con
		color #EA5404
		border-left 1px solid #CCCCCC
		box-sizing border-box
		
			