body 
	margin 0px
	padding 0px
	background #EFEFF4
	font-family "微软雅黑"
ul
	margin 0
	padding 0
	list-style none
.search_box
	width 100%
	height 44px
	background #FFF
	padding 0px 10px 0px 10px
	box-sizing border-box
	line-height 44px
	border-bottom 1px solid #E3E3E8
	position relative
	.ind_search
		float left
		height 32px
		width 83%
		position relative
		.search_se	
			width 14px
			height 14px
			position absolute
			top 16px
			left 10px
		.ind_search_wor
			width 100%
			height 32px
			border 0px
			background #F1F1F1
			border-radius 3px
			padding-left 28px
			color #B5B5B5
			font-size 14px
			font-family "微软雅黑"
			box-sizing border-box
			outline none
		#search_x
			width 14px
			height 14px
			position absolute
			top 17px
			right 10px
			display none
	.srh_cal
		font-size 14px
		color #EA580E
		float left
		text-align right
		width 15%
		display inline-block
		font-family "微软雅黑"
.search_on
		width 100%
		background #FFF
		padding-left 25px
		box-sizing border-box
		display none
		.search_on_list
			li	
				border-bottom 1px solid #EBEBEE
				display inline-block
				width 100%
				height 48px
				line-height 16px
				.lis_large
					font-size 14px
					color #323232
					margin-top 10px
					display inline-block
					.lar_col
						color #EA580E
				.lis_sma
					font-size 12px
					color #898989
				&.bor_none
					border 0px
.search_dis
	width 100%
	height 36px
	box-sizing border-box
	padding-left 15px
	padding-right 38px
	line-height 36px
	font-size 14px
	color #6A6A6B
	font-family "微软雅黑"
	display none
	.dis_rig
		font-size 12px
		float right
.sea_li
	background #FFF
	width 100%
	box-sizing border-box
	padding-left 25px
	display none
	.sea_list
		li
			width 100%
			height 32px
			border-bottom 1px solid #EBEBEE
			display inline-block
			line-height 32px
			color #323232
			font-size 14px
			&.sea_none
				border 0px