.footer {
  width: 100%;
  height: 54px;
  border-top: 1px solid #d6d7dc;
  position: fixed;
  bottom: 0px;
  background: #fff;
}
.footer .footer_di {
  width: 20%;
  height: 54px;
  text-align: center;
  float: left;
  background: url("../../img/footer_nav/bottom_nor_icon04@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
  color: #cacaca;
  font-size: 14px;
  box-sizing: border-box;
}
.footer .footer_di .wor_index {
  padding-top: 30px;
  display: inline-block;
  font-family: "微软雅黑";
}
.footer .footer_d {
  width: 20%;
  height: 54px;
  float: left;
  text-align: center;
}
.footer .footer_d img {
  width: 45px;
  height: 39px;
  margin-top: 7px;
}
.footer .footer_wor_1 {
  background: url("../../img/footer_nav/bottom_press_icon04@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_2 {
  background: url("../../img/footer_nav/bottom_nor_icon03@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_3 {
  background: url("../../img/footer_nav/bottom_nor_icon02@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
  position: relative;
}
.footer .footer_wor_3 .small_num {
  color: #fff;
  background: #ea5404;
  text-align: center;
  line-height: 14px;
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 10px;
  position: absolute;
  left: 38px;
  top: 1px;
}
.footer .footer_wor_4 {
  background: url("../../img/footer_nav/bottom_nor_icon01@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .wor_col_ch {
  color: #ea5404;
}
body,
ul,
p {
  margin: 0;
  padding: 0;
}
body {
  background: #efeff4;
}
a {
  list-style: none;
}
ul li {
  list-style: none;
}
.index_top {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
  background: url("../../img/homepage/banner_img_shadow@2x.png") no-repeat;
  background-size: 100% 45px;
  color: #fff;
  text-align: center;
}
.index_top_area {
  display: inline-block;
  float: left;
  width: 63px;
  text-align: center;
  background: url("../../img/homepage/nav_icon_down@2x.png") no-repeat 50px 20px;
  background-size: 13px 6px;
}
.index_top_name {
  display: inline-block;
  margin-left: -63px;
}
.index_top1 {
  background: #000;
  position: fixed;
  display: none;
}
.index_search {
  position: absolute;
  z-index: 5;
  top: 45px;
  left: 5%;
  right: 5%;
  height: 33px;
  line-height: 33px;
  background: #f1f1f1;
  border-radius: 5px;
  text-align: center;
  color: #c5c5c5;
}
.index_search .search_details {
  display: inline-block;
  background: url("../../img/homepage/banner_icon_search@2x.png") no-repeat 0 7px;
  background-size: 20px;
  padding-left: 25px;
}
.index_search1 {
  display: block;
  top: 10px;
  left: 25%;
  right: 20%;
}
.index_search1 .search_details1 {
  font-size: 12px;
  background: url("../../img/homepage/banner_icon_search@2x.png") no-repeat 0 9px;
  background-size: 15px;
}
.index_slider {
  overflow: hidden;
  height: 280px;
  width: 100%;
  position: relative;
}
.index_slider .slider_width {
  width: 400%;
  height: 100%;
}
.index_slider .slider_width .slider_list {
  float: left;
  width: 320px;
  height: 100%;
}
.index_slider .slider_width .slider_list1 {
  background: url("../../img/homepage/banner_img@2x.png") no-repeat;
  background-size: contain;
}
.index_slider .slider_width .slider_list2 {
  background: url("../../img/homepage/banner_img@2x.png") no-repeat;
  background-size: contain;
}
.index_slider .slider_width .slider_list3 {
  background: url("../../img/homepage/banner_img@2x.png") no-repeat;
  background-size: contain;
}
.index_slider .slider_width .slider_list4 {
  background: url("../../img/homepage/banner_img@2x.png") no-repeat;
  background-size: contain;
}
.index_slider .slider_circle {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.index_slider .slider_circle .circle_li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../img/homepage/banner_icon_point_nor@2x.png") no-repeat center;
  background-size: 14px;
}
.index_slider .slider_circle .circle_li_active {
  background: url("../../img/homepage/banner_icon_point_press@2x.png") no-repeat center;
}
.index_select {
  margin-top: 10px;
  width: 100%;
  position: relative;
}
.index_select_top {
  background: #fff;
  display: flex;
  position: relative;
}
.index_select_top1 {
  z-index: 15;
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
  border-bottom: 1px solid #e1e1e1;
}
.index_select_list {
  flex: 2;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
.index_select_list span {
  background: url("../../img/homepage/content_icon02_nor@2x.png") no-repeat 50% 90%;
  background-size: 10px 6px;
  display: inline-block;
  width: 100%;
}
.index_select_list:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 18px;
  right: 0;
  top: 10px;
  background: #d6d7dc;
}
.index_select_list .index_select_list1 {
  background: url("../../img/homepage/content_icon02_press@2x.png") no-repeat 50% 90%;
  background-size: 10px 6px;
  color: #ea5404;
}
.index_select_list_hidden {
  display: none;
}
.index_select_list_left {
  margin-top: 1px;
  z-index: 10;
  left: 0;
  position: absolute;
  width: 320px;
  display: flex;
  text-align: left;
  text-indent: 10px;
}
.index_select_list_left .area_list {
  overflow-y: auto;
  height: 300px;
  background: #f0f0f0;
  display: inline-block;
  flex: 1;
}
.index_select_list_left .area_list li {
  height: 45px;
  line-height: 45px;
}
.index_select_list_left .area_list .area_list_active {
  background: #fff;
}
.index_select_list_left .area_list1 {
  overflow-y: auto;
  height: 300px;
  background: #f0f0f0;
  display: inline-block;
  flex: 1;
}
.index_select_list_left .area_list1 li {
  height: 45px;
  line-height: 45px;
}
.index_select_list_left .area_list1 .area_list_active {
  background: #fff;
}
.index_select_list_left .area_list_detail {
  overflow-y: auto;
  display: inline-block;
  flex: 1;
  background: #fff;
  height: 300px;
  overflow-y: auto;
}
.index_select_list_left .area_list_detail li {
  height: 45px;
  line-height: 45px;
  position: relative;
}
.index_select_list_left .area_list_detail li:after {
  position: absolute;
  content: '';
  height: 1px;
  left: 10px;
  right: 10px;
  background: #d6d7dc;
  bottom: 0;
}
.index_select_list_left .area_list_detail .all {
  color: #ea5404;
}
.index_select_list_left .area_list_detail3 {
  display: none;
}
.index_select_list_left .area_list_detail3_active {
  display: block;
}
.index_select_bg {
  flex: 1;
  display: inline-block;
  background: url("../../img/homepage/content_icon01_nor@2x.png") no-repeat center;
  background-size: 18px;
}
.index_select_bg1 {
  background: url("../../img/homepage/content_icon01_litre@2x.png") no-repeat center;
  background-size: 18px;
}
.index_select_bg2 {
  background: url("../../img/homepage/content_icon01_down@2x.png") no-repeat center;
  background-size: 18px;
}
.index_show {
  background: #fff;
  margin-bottom: 10px;
  height: 115px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}
.index_show .index_show_img {
  flex: 2;
  margin-right: 10px;
  background: url("../../img/homepage/content_img_list@2x.png") no-repeat center;
  background-size: contain;
}
.index_show .index_show_right {
  position: relative;
  flex: 3;
  font-size: 12px;
}
.index_show .index_show_right .index_show_right_title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  background: url("../../img/homepage/collect_icon_nor@2x.png") no-repeat right 50%;
  background-size: 16px;
}
.index_show .index_show_right .index_show_right_title1 {
  background: url("../../img/homepage/collect_icon_press@2x.png") no-repeat right 50%;
  background-size: 16px;
}
.index_show .index_show_right .index_show_right_busniess {
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ea5404;
  margin-top: 5px;
  color: #ea5404;
}
.index_show .index_show_right .index_show_right_price {
  display: inline-block;
  color: #ea5404;
  font-size: 16px;
  margin-right: 5px;
}
.index_show .index_show_right .index_show_right_commission {
  float: right;
  display: inline-block;
  margin-top: 3px;
}
.index_show_right_bg {
  position: fixed;
  background: url("../../img/homepage/content_btn_back@2x.png") no-repeat;
  background-size: 45px;
  bottom: 65px;
  right: 25px;
  width: 45px;
  height: 45px;
}
.index_show_bottom {
  width: 100%;
  overflow: hidden;
}
.index_select_list_bg {
  position: fixed;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  bottom: 0;
  background: #000;
}
.price_dowm {
  position: absolute;
  top: 45px;
  width: 320px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.price_dowm_top {
  background: #f0f0f0;
}
.price_dowm_top .price_dowm_top1 li {
  height: 45px;
  line-height: 45px;
}
.price_dowm_top .price_dowm_top2 li {
  height: 45px;
  line-height: 45px;
}
.price_dowm_top .price_dowm_top_active {
  background: #fff;
}
.price_dowm_top .search_price {
  padding: 0 10% 0 20%;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 45px;
  line-height: 31px;
  display: flex;
}
.price_dowm_top .search_price1 {
  margin-left: 5px;
  flex: 2;
  display: inline-block;
  width: 71px;
  height: 31px;
  background: #fff;
  border-radius: 5px;
}
.price_dowm_top .search_price1_sure {
  flex: 1;
  width: 55px;
  height: 31px;
  line-height: 31px;
  color: #000;
  margin-left: 10px;
}
.city_select {
  display: none;
  position: fixed;
  left: 20%;
  top: 20%;
  right: 20%;
  background: #fff;
  border-radius: 5px;
}
.city_select .city_select_top {
  height: 45px;
  line-height: 45px;
  position: relative;
  width: 100%;
  text-align: center;
}
.city_select .city_select_top .back_index {
  position: absolute;
  left: 5%;
  height: 45px;
  line-height: 45px;
  top: 0;
  color: #ea5404;
  font-size: 14px;
}
.city_select .city_select_top:after {
  content: '';
  position: absolute;
  background: #e1e1e1;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
}
.city_select_area {
  margin-left: 5%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e1e1e1;
}
