<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../public/css/login/index_pic.css"/>
	</head>
	<body>
		<div class="logo">
			<img src="../public/img/login/logo_l_01.png" alt="" />
		</div>
		<div class="word">Copyright&copy;2016</div>
	</body>
	<script src="../public/js/touch/zepto.min.js"></script>
	<script src="../public/js/touch/touch.js"></script>
	<script src="../public/js/touch/zepto-fx.js"></script>
	<script src="../public/js/login/logo.js"></script>
</html>
