.footer {
  width: 100%;
  height: 54px;
  border-top: 1px solid #d6d7dc;
  position: fixed;
  bottom: 0px;
  background: #fff;
}
.footer .footer_di {
  width: 20%;
  height: 54px;
  text-align: center;
  float: left;
  background: url("../../img/footer_nav/bottom_nor_icon04@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
  color: #cacaca;
  font-size: 14px;
  box-sizing: border-box;
}
.footer .footer_di .wor_index {
  padding-top: 30px;
  display: inline-block;
  font-family: "微软雅黑";
}
.footer .footer_d {
  width: 20%;
  height: 54px;
  float: left;
  text-align: center;
}
.footer .footer_d img {
  width: 45px;
  height: 39px;
  margin-top: 7px;
}
.footer .footer_wor_1 {
  background: url("../../img/footer_nav/bottom_press_icon04@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_2 {
  background: url("../../img/footer_nav/bottom_nor_icon03@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_3 {
  background: url("../../img/footer_nav/bottom_nor_icon02@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
  position: relative;
}
.footer .footer_wor_3 .small_num {
  color: #fff;
  background: #ea5404;
  text-align: center;
  line-height: 14px;
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 10px;
  position: absolute;
  left: 38px;
  top: 1px;
}
.footer .footer_wor_4 {
  background: url("../../img/footer_nav/bottom_nor_icon01@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .wor_col_ch {
  color: #ea5404;
}
body {
  font-size: 14px;
}
.head_mes {
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
}
.mes_cen {
  width: 255px;
  height: 30px;
  margin: 0 auto;
  padding-top: 5px;
  color: #ea5404;
  text-align: center;
}
.mes_cen .message {
  width: 81px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #ea5404;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}
.mes_cen .notice {
  width: 84px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  border-top: 1px solid #ea5404;
  border-bottom: 1px solid #ea5404;
  float: left;
}
.mes_cen .need {
  width: 81px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  border: 1px solid #ea5404;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  position: relative;
}
.mes_cen .need .need_num {
  font-size: 10px;
  color: #ea5404;
  position: absolute;
  top: -5px;
  left: 55px;
}
.mes_cen .mes_col {
  color: #fff;
  background: #ea5404;
}
.message_age {
  display: none;
}
.mes_lump {
  width: 92%;
  margin: 0 auto;
  margin-top: 12px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 7px #999;
  position: relative;
}
.mes_lump header {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
  border-bottom: 1px solid #d6d7dc;
  box-sizing: border-box;
  font-family: "黑体";
  color: #323232;
}
.mes_lump header .mes_time {
  font-size: 12px;
  color: #848484;
  float: right;
  padding-right: 10px;
}
.mes_lump .addr {
  color: #848484;
  padding-left: 10px;
  font-size: 12px;
  padding-bottom: 10px;
  display: inline-block;
}
.mes_lump .lump_on {
  padding: 0px 10px 0px 10px;
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  text-indent: 2em;
  color: #979797;
  -webkit-margin-after: 0em;
}
.mes_lump .lump_on .mes_btn01 {
  color: #fff;
  width: 52px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background: #15b755;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 12px;
}
.mes_lump .lump_on .btn_col_2 {
  background: #0193e6;
}
.mes_lump .lump_on .btn_col_3 {
  background: #97b715;
}
.mes_lump .lump_on .btn_col_4 {
  background: #ea5404;
}
.mes_lump .lump_on.lump_on_2 {
  text-indent: 1em;
}
.mes_lump .mes_btn02 {
  color: #979797;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  background: #efeff4;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -40px;
}
.mes_lump .lump_on_3 {
  text-indent: 1em;
}
.mes_lump .footer_one {
  color: #848484;
  font-size: 12px;
  width: 100%;
  height: 25px;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.mes_lump .footer_one.footer_1 {
  height: 35px;
  margin-top: 15px;
}
#message_one {
  display: block;
}
#notice_all {
  display: none;
}
#need_all {
  display: none;
}
.footer .footer_wor_1 {
  background: url("../../img/footer_nav/bottom_nor_icon04@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_3 {
  background: url("../../img/footer_nav/bottom_press_icon02@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
.footer .footer_wor_4 {
  background: url("../../img/footer_nav/bottom_nor_icon01@2x.png") no-repeat center 5px;
  background-size: 24px 24px;
}
