@import "login.styl"
body
	overflow hidden
.must
	display inline-block
	width 100%
	height 31px
	color #b8b8b9
	font-size 12px
	line-height 31px
	padding-left 15px
	box-sizing border-box
.carr_pic
	width 100%
	height 230px
	border-bottom 1px solid #d6d7dc
	background #FFF
	padding-top 8px
	position relative
	text-align center
	.pic_y
		margin 0 auto
		width 64px
		height 64px
		background #878787
		text-align center
		line-height 64px
		border-radius 64px
		color #FFF
		font-size 12px
		position relative
		overflow hidden
		input
			width 100%
			height 100%
			border-radius 50%
			position absolute
			right 0px
			bottom 0px
			border 0px
			background rgba(135,135,135,0)
			font-size 0px
			overflow hidden
	&:after
		content ''
		position absolute
		top 78px
		left 50%
		margin-left -60px
		width 120px
		height 1px
		border-bottom 1px solid #d6d7dc
	input
		width 229px
		height 29px
		border 1px solid #d6d7dc
		margin-bottom 4px
		border-radius 3px
		outline none
		color #b8b8b9
		font-size 12px
		padding-left 10px
		background #EFEFF4
		font-family "微软雅黑"
		&.carr_pic_wr
			margin-top 15px	
.choose
	width 100%
	height 134px
	border-bottom 1px solid #d6d7dc
	text-align center
	background #FFF
	input
		width 229px
		height 29px
		border 1px solid #d6d7dc
		margin-top 10px
		border-radius 3px
		outline none
		color #b8b8b9
		font-size 12px
		padding-left 10px
		background #EFEFF4
		font-family "微软雅黑"	
	.choose_all
		width 100%
		margin-top 13px
		.choose_pic
			float left
			width 33%
			.choose_pic_wor
				width 80%
				height 64px
				background #878787
				border-radius 4px
				margin 5px auto
				color #FFF
				font-size 12px
				line-height 64px
				text-align center
				position relative
				overflow hidden
				input
					width 120%
					height 64px
					border-radius 4px
					position absolute
					right 0px
					bottom 0px
					border 0px
					background rgba(135,135,135,0)
					font-size 0px
					overflow hidden
.login
	background #EA5404
