body
	margin 0 
	padding 0
	background #F5EEEA
.logo
	position absolute
	top 30%
	left 50%
	margin-left -27px
	width 55px
	height 82px
	img
		width 100%
		height 100%
.word
	position absolute
	bottom 15px
	left 50%
	margin-left -50px
	font-size 12px
	color #A7A5A4
	font-family "微软雅黑"
	