body
	margin 0
	padding 0
	background #EFEFF4
	font-family "微软雅黑"
.clear
	clear both
.head_deng
	width 100%
	height 40px
	background white
	text-align center
	position relative
	border-bottom 1px solid #d6d7dc
	img
		width 10px
		height 16px
		position absolute
		left 10px
		top 12px
		cursor pointer
	span
		text-align center
		display inline-block
		height 25px
		line-height 40px
		color #EA5404
.center_deng
	width 100%
	
	border-top 1px solid #d6d7dc
	border-bottom 1px solid #d6d7dc
	background white
	margin-top 20px
	.deng_num
		width 94%
		height 48px
		margin 0px 12px 0px 12px
		border-bottom 1px solid #F8F8F8
		.num_word
			
			float left
			img
				width 16px
				height 16px
				margin-top 16px
				float left
			span
				line-height 48px
				display inline-block
				padding-left 7px
				
				float left
		input 
			width 45%
			height 28px
			margin-top 10px
			color #CFCFCF
			font-size 14px
			border 0px
			float left
			font-family "微软雅黑"
			padding-left 5px
			outline none
	.num_bor
		border 0px
	
.login
	width 96%
	margin auto
	border-radius 4px
	height 48px
	text-align center
	line-height 48px
	background #C7C7C7
	color #FFF
	margin-top 40px
	cursor pointer
.footer
	width 90%
	height 30px
	line-height 30px
	margin auto
	a
		font-size 12px
		color #F8B776
		float left
		text-decoration none
		cursor pointer
		&.forget
			float right
			color #7E7E7F
		
		
		