<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/message/message_all.css" />
		<script src="../../public/js/message_all/message_all.js"></script>
	</head>
	<body>
		<div class="head_mes">
			<div class="mes_cen">
				<span id="message" class="message mes_col">消息</span>
				<span id="notice" class="notice">通知</span>
				<span id="need" class="need">需求<span class="need_num">3</span></span>
			</div>
			<div class="clear"></div>
		</div>
		<div id="message_one">
			<div class="mes_lump">
				<header>你眼中“醉美夜滨江”摄影征集启动啦！</header>
				<p class="lump_on">霓虹璀璨，凉风习习，越看越美，让人心醉。外套、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="footer_one">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>你眼中“醉美夜滨江”摄影征集启动啦！</header>
				<p class="lump_on">霓虹璀璨，凉风习习，越看越美，让人心醉。外套、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="footer_one">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>你眼中“醉美夜滨江”摄影征集启动啦！</header>
				<p class="lump_on">霓虹璀璨，凉风习习，越看越美，让人心醉。外套、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="footer_one">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>你眼中“醉美夜滨江”摄影征集启动啦！</header>
				<span class="lump_on">霓虹璀璨，凉风习习，越看越美，让人心醉。外套、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
				<footer class="footer">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>你眼中“醉美夜滨江”摄影征集启动啦！</header>
				<p class="lump_on">霓虹璀璨，凉风习习，越看越美，让人心醉。外套、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
				<footer class="footer_one">08/04/13:06</footer>
			</div>
		</div>
		<div id="notice_all">
			<div class="mes_lump">
				<header>房源维护提示<span class="mes_time">08/04/13:08</span></header>
				<p class="lump_on lump_on_2">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
				<span class="addr">地址：徐汇-龙华-科技大厦</span>
			</div>
			<div class="mes_lump">
				<header>房源维护提示<span class="mes_time">08/04/13:08</span></header>
				<p class="lump_on lump_on_2">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
				<span class="addr">地址：徐汇-龙华-科技大厦</span>
			</div>
		</div>
		<div id="need_all">
			<div class="mes_lump">
				<header>一个新的租房需求<span class="mes_btn01">租户</span></header>
				<p class="lump_on lump_on_3">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m&sup2;天左右，附近有地铁</p>
				<span class="mes_btn02">了解详情</span>
				<footer class="footer_one footer_1">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>一个新的租房需求<span class="mes_btn01 btn_col_2">经纪人</span></header>
				<p class="lump_on lump_on_3">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m&sup2;天左右，附近有地铁</p>
				<span class="mes_btn02">了解详情</span>
				<footer class="footer_one footer_1">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>一个新的租房需求<span class="mes_btn01 btn_col_3">招商</span></header>
				<p class="lump_on lump_on_3">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m&sup2;天左右，附近有地铁</p>
				<span class="mes_btn02">了解详情</span>
				<footer class="footer_one footer_1">08/04/13:06</footer>
			</div>
			<div class="mes_lump">
				<header>一个新的租房需求<span class="mes_btn01 btn_col_4">代理商</span></header>
				<p class="lump_on lump_on_3">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m&sup2;天左右，附近有地铁</p>
				<span class="mes_btn02">了解详情</span>
				<footer class="footer_one footer_1">08/04/13:06</footer>
			</div>
		</div>
		<div class="footer">
			<div onclick="window.open('../homepage/index.html','_self')" class="footer_di footer_wor_1">
				<span class="wor_index">首页</span>
			</div>
			<div class="footer_di footer_wor_2">
				<span class="wor_index">预约</span>
			</div>
			<div onclick="window.open('../issue/issue_add.html','_self')" class="footer_d">
				<img src="../../public/img/footer_nav/bottom_icon05@2x.png" alt="" />
			</div>
			<div onclick="window.open('../message/message_all.html','_self')" class="footer_di footer_wor_3 wor_col_ch">
				<span class="wor_index">信息</span>
				<span class="small_num">3</span>
			</div>
			<div onclick="window.open('../I/ILogin.html','_self')" class="footer_di footer_wor_4">
				<span class="wor_index">我</span>
			</div>
			<div class="clear"></div>
		</div>		
	</body>
</html>
