body {
  margin: 0;
  padding: 0;
  background: #efeff4;
  font-family: "微软雅黑";
}
.clear {
  clear: both;
}
.head_deng {
  width: 100%;
  height: 40px;
  background: #fff;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #d6d7dc;
}
.head_deng img {
  width: 10px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
}
.head_deng span {
  text-align: center;
  display: inline-block;
  height: 25px;
  line-height: 40px;
  color: #323232;
}
.data_people {
  width: 100%;
  height: 197px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  background: #fff;
}
.data_people img {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  margin-top: 20px;
}
.data_people .people_p_2 {
  height: 26px;
  font-size: 12px;
  color: #7f7f7f;
  line-height: 26px;
}
.data_people .people_p_3 {
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  color: #ea5404;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ea5404;
}
.per_message {
  width: 100%;
  background: #fff;
  margin-top: 11px;
}
.per_message .message_all {
  height: 33px;
  line-height: 33px;
  margin-left: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.per_message .message_all .message_le {
  font-size: 14px;
  color: #7f7f7f;
  float: left;
  margin-right: 15px;
  display: inline-block;
  width: 35%;
}
.per_message .message_all .message_ri {
  font-size: 14px;
  color: #494949;
  float: left;
  display: inline-block;
}
.per_message .message_pic {
  width: 100%;
  height: 114px;
  border-bottom: 1px solid #d6d7dc;
}
.per_message .message_pic .mes_pic_1 {
  float: left;
  width: 33%;
  text-align: center;
}
.per_message .message_pic .mes_pic_1 .mes_pic_back {
  width: 80%;
  height: 64px;
  background: #878787;
  border-radius: 4px;
  margin: 5px auto;
  margin-top: 20px;
}
.per_message .message_pic .mes_pic_1 .mes_pic_wor {
  color: #7f7f7f;
  font-size: 12px;
}
.per_message .message_all {
  position: relative;
}
.per_message .message_all img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.per_message .message_all:after {
  content: '';
  position: absolute;
  right: 4px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/nav_icon_back@2x.png") no-repeat;
  background-size: 50%;
}
.edit_pic {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(50,50,50,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.edit_pic .edit_pic_sm {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor {
  display: inline-block;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #ebebee;
  font-size: 14px;
  color: #323232;
  position: relative;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor input {
  width: 120%;
  height: 43px;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 0px;
  background: rgba(135,135,135,0);
  font-size: 0px;
  overflow: hidden;
  outline: none;
}
.edit_pic .edit_pic_sm .sm_wor_cha {
  color: #eb5c18;
  border-bottom: 0px;
}
.setting_login {
  display: none;
}
.setting_on {
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
  margin-top: 10px;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #323232;
}
.setting_on .setting_hua {
  width: 50px;
  height: 31px;
  background: #ea5404;
  border-radius: 15px;
  float: right;
  margin-top: 9px;
  position: relative;
}
.setting_on .setting_hua .se_hua_sm {
  width: 31px;
  height: 31px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.setting_on_1 {
  position: relative;
}
.setting_on_1 .set_num {
  color: #b4b4b4;
  font-size: 12px;
  float: right;
  margin-right: 25px;
}
.setting_on_1:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 17px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/content_list_right_icon@2x.png") no-repeat;
  background-size: 50%;
}
.setting_on_2 {
  margin-top: 25px;
  text-align: center;
}
.wipe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.5);
  display: none;
  z-index: 2;
}
.wipe .wipe_sm {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 107px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.wipe .wipe_sm .wipe_sm_p {
  font-size: 12px;
  width: 100%;
  height: 63px;
  line-height: 63px;
  border-bottom: 1px solid #d6d7dc;
  display: inline-block;
  color: #494949;
}
.wipe .wipe_sm .cancel {
  width: 50%;
  height: 43px;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  float: left;
  color: #727272;
}
.wipe .wipe_sm .confirm {
  width: 49%;
  color: #ea5404;
  border-left: 1px solid #d6d7dc;
}
.setting_wipe {
  background: rgba(99,99,99,0.5);
  font-family: "微软雅黑";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.setting_none {
  position: absolute;
  top: 40%;
  width: 72%;
  height: 94px;
  left: 14%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  display: none;
}
.setting_none .none_wor {
  display: inline-block;
  height: 52px;
  line-height: 52px;
  width: 100%;
  font-size: 14px;
  color: #646464;
  border-bottom: 1px solid #ccc;
}
.setting_none .none_can {
  display: inline-height;
  width: 50%;
  text-align: center;
  height: 41px;
  line-height: 41px;
  color: #646464;
  font-size: 14px;
  float: left;
}
.setting_none .none_con {
  color: #ea5404;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
.wipe {
  display: block;
  background: rgba(99,99,99,0.5);
}
.wipe .cancel {
  font-size: 14px;
}
