body {
  margin: 0;
  padding: 0;
  background: #efeff4;
  font-family: "微软雅黑";
}
.clear {
  clear: both;
}
.head_deng {
  width: 100%;
  height: 40px;
  background: #fff;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #d6d7dc;
}
.head_deng img {
  width: 10px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
}
.head_deng span {
  text-align: center;
  display: inline-block;
  height: 25px;
  line-height: 40px;
  color: #323232;
}
.data_people {
  width: 100%;
  height: 197px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  background: #fff;
}
.data_people img {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  margin-top: 20px;
}
.data_people .people_p_2 {
  height: 26px;
  font-size: 12px;
  color: #7f7f7f;
  line-height: 26px;
}
.data_people .people_p_3 {
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  color: #ea5404;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ea5404;
}
.per_message {
  width: 100%;
  background: #fff;
  margin-top: 11px;
}
.per_message .message_all {
  height: 33px;
  line-height: 33px;
  margin-left: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.per_message .message_all .message_le {
  font-size: 14px;
  color: #7f7f7f;
  float: left;
  margin-right: 15px;
  display: inline-block;
  width: 35%;
}
.per_message .message_all .message_ri {
  font-size: 14px;
  color: #494949;
  float: left;
  display: inline-block;
}
.per_message .message_pic {
  width: 100%;
  height: 114px;
  border-bottom: 1px solid #d6d7dc;
}
.per_message .message_pic .mes_pic_1 {
  float: left;
  width: 33%;
  text-align: center;
}
.per_message .message_pic .mes_pic_1 .mes_pic_back {
  width: 80%;
  height: 64px;
  background: #878787;
  border-radius: 4px;
  margin: 5px auto;
  margin-top: 20px;
}
.per_message .message_pic .mes_pic_1 .mes_pic_wor {
  color: #7f7f7f;
  font-size: 12px;
}
.per_message .message_all {
  position: relative;
}
.per_message .message_all img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.per_message .message_all:after {
  content: '';
  position: absolute;
  right: 4px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/nav_icon_back@2x.png") no-repeat;
  background-size: 50%;
}
.edit_pic {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(50,50,50,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.edit_pic .edit_pic_sm {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor {
  display: inline-block;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #ebebee;
  font-size: 14px;
  color: #323232;
  position: relative;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor input {
  width: 120%;
  height: 43px;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 0px;
  background: rgba(135,135,135,0);
  font-size: 0px;
  overflow: hidden;
  outline: none;
}
.edit_pic .edit_pic_sm .sm_wor_cha {
  color: #eb5c18;
  border-bottom: 0px;
}
.setting_on {
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
  margin-top: 10px;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #323232;
}
.setting_on .setting_hua {
  width: 50px;
  height: 31px;
  background: #ea5404;
  border-radius: 15px;
  float: right;
  margin-top: 9px;
  position: relative;
}
.setting_on .setting_hua .se_hua_sm {
  width: 31px;
  height: 31px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.setting_on_1 {
  position: relative;
}
.setting_on_1 .set_num {
  color: #b4b4b4;
  font-size: 12px;
  float: right;
  margin-right: 25px;
}
.setting_on_1:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 17px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/content_list_right_icon@2x.png") no-repeat;
  background-size: 50%;
}
.setting_on_2 {
  margin-top: 25px;
  text-align: center;
}
.wipe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.5);
  display: none;
  z-index: 2;
}
.wipe .wipe_sm {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 107px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.wipe .wipe_sm .wipe_sm_p {
  font-size: 12px;
  width: 100%;
  height: 63px;
  line-height: 63px;
  border-bottom: 1px solid #d6d7dc;
  display: inline-block;
  color: #494949;
}
.wipe .wipe_sm .cancel {
  width: 50%;
  height: 43px;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  float: left;
  color: #727272;
}
.wipe .wipe_sm .confirm {
  width: 49%;
  color: #ea5404;
  border-left: 1px solid #d6d7dc;
}
.about_pic {
  width: 100%;
  height: 214px;
  position: relative;
}
.about_pic .about_logo {
  width: 76px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -38px;
}
.about_pic .version {
  position: absolute;
  top: 140px;
  left: 34%;
}
.about_pic .version .about_wor {
  width: 72px;
  float: left;
}
.about_pic .version .version_num {
  font-size: 12px;
  color: #646464;
  display: inline-block;
  margin-left: 5px;
  float: left;
}
.setting_on_1 .set_num {
  color: #646464;
}
body {
  margin: 0;
  padding: 0;
  background: #efeff4;
  font-family: "微软雅黑";
}
.clear {
  clear: both;
}
.head_deng {
  width: 100%;
  height: 40px;
  background: #fff;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #d6d7dc;
}
.head_deng img {
  width: 10px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
}
.head_deng span {
  text-align: center;
  display: inline-block;
  height: 25px;
  line-height: 40px;
  color: #323232;
}
.data_people {
  width: 100%;
  height: 197px;
  border-bottom: 1px solid #d6d7dc;
  text-align: center;
  background: #fff;
}
.data_people img {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  margin-top: 20px;
}
.data_people .people_p_2 {
  height: 26px;
  font-size: 12px;
  color: #7f7f7f;
  line-height: 26px;
}
.data_people .people_p_3 {
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  color: #ea5404;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ea5404;
}
.per_message {
  width: 100%;
  background: #fff;
  margin-top: 11px;
}
.per_message .message_all {
  height: 33px;
  line-height: 33px;
  margin-left: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.per_message .message_all .message_le {
  font-size: 14px;
  color: #7f7f7f;
  float: left;
  margin-right: 15px;
  display: inline-block;
  width: 35%;
}
.per_message .message_all .message_ri {
  font-size: 14px;
  color: #494949;
  float: left;
  display: inline-block;
}
.per_message .message_pic {
  width: 100%;
  height: 114px;
  border-bottom: 1px solid #d6d7dc;
}
.per_message .message_pic .mes_pic_1 {
  float: left;
  width: 33%;
  text-align: center;
}
.per_message .message_pic .mes_pic_1 .mes_pic_back {
  width: 80%;
  height: 64px;
  background: #878787;
  border-radius: 4px;
  margin: 5px auto;
  margin-top: 20px;
}
.per_message .message_pic .mes_pic_1 .mes_pic_wor {
  color: #7f7f7f;
  font-size: 12px;
}
.per_message .message_all {
  position: relative;
}
.per_message .message_all img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
.per_message .message_all:after {
  content: '';
  position: absolute;
  right: 4px;
  top: 10px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/nav_icon_back@2x.png") no-repeat;
  background-size: 50%;
}
.edit_pic {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(50,50,50,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.edit_pic .edit_pic_sm {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor {
  display: inline-block;
  width: 100%;
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #ebebee;
  font-size: 14px;
  color: #323232;
  position: relative;
}
.edit_pic .edit_pic_sm .ed_pic_sm_wor input {
  width: 120%;
  height: 43px;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 0px;
  background: rgba(135,135,135,0);
  font-size: 0px;
  overflow: hidden;
  outline: none;
}
.edit_pic .edit_pic_sm .sm_wor_cha {
  color: #eb5c18;
  border-bottom: 0px;
}
.setting_on {
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
  margin-top: 10px;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #323232;
}
.setting_on .setting_hua {
  width: 50px;
  height: 31px;
  background: #ea5404;
  border-radius: 15px;
  float: right;
  margin-top: 9px;
  position: relative;
}
.setting_on .setting_hua .se_hua_sm {
  width: 31px;
  height: 31px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.setting_on_1 {
  position: relative;
}
.setting_on_1 .set_num {
  color: #b4b4b4;
  font-size: 12px;
  float: right;
  margin-right: 25px;
}
.setting_on_1:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 17px;
  width: 14px;
  height: 14px;
  background: url("../../img/me/content_list_right_icon@2x.png") no-repeat;
  background-size: 50%;
}
.setting_on_2 {
  margin-top: 25px;
  text-align: center;
}
.wipe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.5);
  display: none;
  z-index: 2;
}
.wipe .wipe_sm {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 107px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.wipe .wipe_sm .wipe_sm_p {
  font-size: 12px;
  width: 100%;
  height: 63px;
  line-height: 63px;
  border-bottom: 1px solid #d6d7dc;
  display: inline-block;
  color: #494949;
}
.wipe .wipe_sm .cancel {
  width: 50%;
  height: 43px;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  float: left;
  color: #727272;
}
.wipe .wipe_sm .confirm {
  width: 49%;
  color: #ea5404;
  border-left: 1px solid #d6d7dc;
}
.must {
  height: 33px;
  width: 100%;
  display: inline-block;
  padding-left: 10px;
  line-height: 33px;
  color: #b6b6b6;
  font-size: 14px;
  box-sizing: border-box;
}
.appo_bar {
  background: #fff;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e3e3e8;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.appo_bar:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url("../../img/reservedetails/content_img_user@2x.png") no-repeat;
  background-size: cover;
}
.appo_bar .appo_bar_name {
  width: 70%;
  height: 30px;
  float: left;
  margin-left: 50px;
  border-right: 1px solid #e3e3e8;
}
.appo_bar .appo_bar_name .bar_name {
  font-size: 14px;
  color: #323232;
  line-height: 16px;
}
.appo_bar .appo_bar_name .bar_type {
  color: #646464;
  font-size: 12px;
}
.appo_bar .bar_tel {
  width: 15%;
  float: left;
  text-align: center;
  line-height: 40px;
}
.appo_bar .bar_tel img {
  width: 20px;
  height: 20px;
}
.appo_bar_2 {
  background: #fff;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e3e3e8;
  padding: 10px;
  padding-top: 7px;
  box-sizing: border-box;
}
.appo_bar_2 .bar_name {
  font-size: 14px;
  color: #323232;
}
.appo_bar_2 .bar_mess_cen {
  width: 70%;
  font-size: 12px;
  color: #646464;
}
.appo_bar_2 .bar_mess_cen .bar_mess_area {
  float: left;
  line-height: 16px;
}
.appo_bar_2 .bar_mess_cen .bar_mess_type {
  float: right;
  line-height: 16px;
}
.appo_bar_2 .bar_mess_bot {
  width: 80%;
  font-size: 12px;
  color: #646464;
}
.appo_bar_2 .bar_mess_bot .bar_mess_acr {
  float: left;
  line-height: 16px;
}
.appo_bar_2 .bar_mess_bot .bar_mess_uni {
  float: right;
  line-height: 16px;
}
.appo_bar_3 {
  width: 100%;
  height: 45px;
  line-height: 25px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  color: #323232;
}
.appo_btn {
  display: inline-block;
  width: 96%;
  height: 44px;
  border-radius: 3px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  background: #ea5404;
  margin-left: 3%;
  margin-top: 30px;
}
.appo_state {
  width: 100%;
  height: 44px;
  padding-left: 10px;
  box-sizing: border-box;
  background: #fff;
}
.appo_state .state_bar {
  width: 100%;
  height: 44px;
  padding: 5px 10px 5px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e8;
}
.appo_state .state_bar .state_time {
  width: 10%;
  text-align: center;
  color: #323232;
  line-height: 16px;
  font-size: 12px;
  float: left;
}
.appo_state .state_bar .state_sta {
  line-height: 34px;
  font-size: 14px;
  color: #323232;
  display: inline-block;
  float: right;
}
.state_line {
  padding: 0px;
  border-bottom: 1px solid #e3e3e8;
}
.state_line .state_mar {
  border: 0;
  padding-left: 10px;
}
.order_btn {
  width: 100%;
  height: 49px;
  position: absolute;
  bottom: 0px;
  background: #fff;
  border-top: 1px solid #e3e3e8;
}
.order_btn .btn_one {
  width: 32%;
  line-height: 49px;
  display: inline-block;
  color: #ea5404;
  text-align: center;
  border-right: 1px solid #e3e3e8;
}
.order_btn .btn_line {
  border: 0;
}
.head_deng .cha_cancel {
  font-size: 14px;
  color: #323232;
  line-height: 40px;
  float: left;
  margin-left: 10px;
}
.head_deng .cha_confirm {
  font-size: 14px;
  float: right;
  color: #eb5c18;
  line-height: 40px;
  margin-right: 10px;
}
.change_time {
  width: 100%;
  height: 44px;
  border-top: 1px solid #e3e3e8;
  background: #fff;
}
.change_time input {
  color: #bcbcbc;
  font-size: 14px;
  width: 24%;
  height: 40px;
  float: right;
  margin-right: 10px;
  outline: none;
  border: 0px;
  font-family: "微软雅黑";
}
#time {
  display: block;
}
.wipe .wipe_sm .wipe_one {
  width: 100%;
  height: 43px;
  text-align: center;
  line-height: 43px;
  color: #eb5c18;
  display: inline-block;
}
