<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>addbuildings</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/addduildings.css" />
		<script src="../../public/js/issue/addbuildings.js"></script>
	</head>
	<body>
		<div id="add_all">
			<div class="head_deng">
				<img onclick="window.open('issue.html','_self')" src="../../public/img/login/nav_back_icon@2x.png" alt="" />
				<span>新增楼盘</span>		
			</div>
			<input id="building" type="text" placeholder="输入您想要增加的楼盘"/>
			<input id="address" type="text" placeholder="输入楼盘的地址"/>
			<span id="add_btn" class="add_btn">确定提交</span>
		</div>
		<div id="add_zhe" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">提交成功，稍后会有专人与您联系</span>
				<span onclick="window.open('../issue/issue.html','_self')" class="wipe_one">确定</span>
			</div>
		</div>
	</body>
</html>
