
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/issue.css" />
		
	</head>
	<body>
		<div class="iss_head">
			<span id="iss_cancel" class="cha_cancel">取消</span>
			<span class="iss_tit">发布房源</span>		
		</div>
		<div class="issue_search">
			<div class="iss_po">
				<img class="search_b" src="../../public/img/homepage/banner_icon_search@2x.png" alt="" />
				<input type="text" id="ind_search_wor" class="ind_search_wor" placeholder="搜索想要发布的大厦"/>
				<div id="search_x" class="search_x">
					<img src="../../public/img/issuebuildings/content_delet_icon@2x.png" alt="" />
				</div>
			</div>
			<div onclick="window.open('addbuildings.html','_self')" class="issue_add">
				<img src="../../public/img/issuebuildings/content_plus_icon@2x.png" alt="" />
				<span class="add_wor">新增楼盘</span>
			</div>
		</div>
		<div class="issue_mess">
			<span class="mess_tit">大厦信息</span>
			<div class="iss_all">
				<span class="iss_name">商圈：</span>
				<input type="text" placeholder="浦东-八佰伴"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">物业：</span>
				<input type="text" placeholder="上海浦江物业有限公司"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">层数：</span>
				<input type="text" placeholder="23层"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">层高：</span>
				<input type="text" placeholder="标准4.5米，净高2.75米，大堂14.5米"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">车位：</span>
				<input type="text" placeholder="地上30个，地下400个，1250元/月"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">电梯：</span>
				<input type="text" placeholder="客梯8部，货梯2部，三菱电梯"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">空调：</span>
				<input type="text" placeholder="集中式中央空调"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">入驻企业：</span>
				<input type="text" placeholder="顺诚商业地产(房地产/建筑)、大大集团"/>
			</div>
			<div class="iss_all">
				<span class="iss_name">地铁：</span>
				<input type="text" placeholder="距离世纪大道站步行7分钟"/>
			</div>
		</div>
		<div class="iss_buildings">
			<span class="buil_tit">房源信息</span>
			<div class="buil_radio">
				<span class="buil_mess_tit">请选择分布房源的属性</span>
				<div class="radio_all">
					<div class="radio_one radio_sel dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">整层</span>
						<i class="dian_one"></i>
					</div>
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">整栋</span>
						<i ></i>
					</div>
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">众创空间</span>
						<i></i>
					</div>
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">商务中心</span>
						<i></i>
					</div> 
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">创意产业园</span>
						<i ></i>
					</div>
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">写字楼</span>
						<i ></i>
					</div>
					<div class="radio_one dian_all">
						<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
						<span class="radio_one_name">工位</span>
						<i ></i>
					</div>
				</div>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">房源面积</span>
				<input class="cho_short" type="text" placeholder="20"/>
				<span class="cho_unit">m&sup2;</span>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">房源单价</span>
				<input class="cho_short" type="text" placeholder="6.5"/>
				<span class="cho_unit">元/m&sup2;/天</span>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">交付状态</span>
				<div id="cho_sel" class="cho_short cho_long cho_sel"><span id='cho_short_ss'>标准交付</span>
					<div id="cho_sel_menu" class="cho_sel_menu">
						<ul class="sel_menu">
							<li id="sel_menu_li" class="sel_menu_li">毛坯交付</li>
							<li id="sel_menu_li" class="sel_menu_li">标注交付</li>
							<li id="sel_menu_li" class="sel_menu_li">简装</li>
							<li id="sel_menu_li" class="sel_menu_li">精装</li>
							<li id="sel_menu_li" class="sel_menu_li li_line">豪装</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="iss_cho">
				<span class="cho_tit">交付日期</span>
				<input class="cho_short" type="text" placeholder="2015-06-21"/>
				<div  class="radio_one">
					<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
					<span class="radio_one_name">是否现房</span>
					<img class="rsma rsma_on" src="../../public/img/issuebuildings/content_press_icon@2x.png" alt="" />
				</div>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">最短租期</span>
				<input class="cho_short cho_long" type="text" placeholder="3年"/>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">付款方式</span>
				<input class="cho_short" type="text" placeholder="押三付一"/>
				<div  class="radio_one">
					<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
					<span class="radio_one_name">是否含发票</span>
					<img class="rsma" src="../../public/img/issuebuildings/content_press_icon@2x.png" alt="" />
				</div>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">是否结佣</span>
				<input class="cho_short" type="text" placeholder="一个月"/>
				<div  class="radio_one">
					<img class="radio_big" src="../../public/img/issuebuildings/content_nor_icon@2x.png" alt="" />
					<span class="radio_one_name">是</span>
					<img class="rsma" src="../../public/img/issuebuildings/content_press_icon@2x.png" alt="" />
				</div>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">装修免租</span>
				<input class="cho_short cho_long" type="text" placeholder="一个月"/>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">看房时间</span>
				<input class="cho_short" type="text" placeholder="8:00"/>
				<input class="cho_short" type="text" placeholder="20:00"/>
			</div>
			<div class="iss_cho">
				<span class="cho_tit">房源简介</span>
				<textarea name="" rows="4" cols="4" placeholder="房源简介"></textarea>
			</div>
			<div class="add_pic">
				<span class="add_name">添加图片</span>
			</div>
		</div>
		<div class="iss_btn">
			<span id="iss_btn_one" class="iss_btn_one">确认发布</span>
		</div>
		<div id="iss_zhe" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">您确定要退出此次发布？</span>
				<span id="iss_can" class="cancel">取消</span>
				<span class="cancel confirm">确定</span>
			</div>
		</div>
		<div id="iss_succ" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">房源发布成功，请稍后！</span>
				<span class="wipe_one">确定</span>
			</div>
		</div>
		<script src="../../public/js/touch/zepto.min.js"></script>
		<script src="../../public/js/touch/touch.js"></script>
		<script src="../../public/js/touch/zepto-fx.js"></script>
		<script src="../../public/js/issue/issue.js"></script>
	</body>
</html>
