<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/issue_add.css" />
	</head>
	<body>
		<div class="iss_add_all">
			<div class="iss_add">
				<div class="round">
					<span class="round_wh"></span>
					<span class="word_wh">发布需求</span>
				</div>
				<div class="round rou_rig">
					<span class="round_wh round_wh_2"></span>
					<span class="word_wh">发布房源</span>
				</div>
			</div>
			<span class="add_x"></span>
		</div>
		<div class="iss_none">
			<div class="issue_none">
				<span class="none_wor">请先进行登录</span>
				<span class="none_can">取消</span>
				<span class="none_can none_con">确定</span>
			</div>
		</div>
		
	</body>
	<script src="../../public/js/touch/zepto.min.js"></script>
	<script src="../../public/js/touch/touch.js"></script>
	<script src="../../public/js/touch/zepto-fx.js"></script>
	<script src="../../public/js/issue/issue_add.js"></script>
</html>
