<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/issue_search.css" />
		<script src="../../public/js/issue/issue_search.js"></script>
	</head>
	<body>
		<div class="search_box">
			<div class="ind_search">
				<img class="search_se" src="../../public/img/homepage/banner_icon_search@2x.png" alt="" />
				<input id="search" type="text" class="ind_search_wor" placeholder="搜索想要发布的大楼">
				<img id="search_x" src="../../public/img/issuebuildings/content_delet_icon@2x.png" alt="" />
			</div>
			<span onclick="window.open('issue.html','_self')" class="srh_cal">取消</span>
		</div>
		<div id="search_on" class="search_on">
			<ul class="search_on_list">
				<li>
					<span class="lis_large"><span class="lar_col">地铁</span>明珠苑</span><br/>
					<span class="lis_sma">崔建东路198弄</span>
				</li>
				<li class="bor_none">
					<span class="lis_large">老西门<span class="lar_col">地铁</span>站8/9号线</span><br/>
					<span class="lis_sma">金维公寓</span>
				</li>
			</ul>
		</div>
		<div class="search_dis">
			<span class="dis_lef">最近搜索</span>
			<span class="dis_rig">清除</span>
		</div>
		<div class="sea_li">
			<ul class="sea_list">
				<li>海文商务楼</li>
				<li>国科大厦</li>
				<li class="sea_none">会德丰国际广场</li>
			</ul>
		</div>
	</body>
</html>
