<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/issueneed.css" />
		
	</head>
	<body>
		<div id="issue_all" class="issue_all">
			<div class="head_deng">
				<span id="cancel" class="cha_cancel">取消</span>
				<span>发布需求</span>		
				<span id="issue" class="cha_confirm">发布</span>
			</div>
			<input type="text" placeholder="周杰伦"/>
			<input type="text" placeholder="18956214521"/>
			<textarea name="" rows="15" cols="15" onfocus="this.value=''; this.onfocus=null;" >描述一下您的需求，比如黄埔100-200m&sup2;，5-6元/m&sup2;/天，环境好点，底层，临近地铁。</textarea>
		</div>
		
		<div id="issned_zhe" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">您确定要退出此次发布？</span>
				<span id="iss_can" class="cancel">取消</span>
				<span class="cancel confirm queding">确定</span>
			</div>
		</div>
		<div id="iss_succ" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">需求发布成功，请稍后</span>
				<span class="wipe_one queding">确定</span>
			</div>
		</div>
		<script src="../../public/js/touch/zepto.min.js"></script>
		<script src="../../public/js/issue/issueneed.js"></script>
	</body>
</html>
