<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>issue_add</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/issue/issue_add.css" />
	</head>
	<body>
		<div class="iss_add">
			<div onclick="window.open('issueneed.html','_self')" class="round">
				<span class="round_wh"></span>
				<span class="word_wh">发布需求</span>
			</div>
			<div onclick="window.open('issue.html','_self')" class="round rou_rig">
				<span class="round_wh round_wh_2"></span>
				<span class="word_wh">发布房源</span>
			</div>
		</div>
		<span onclick="window.open('../homepage/index.html','_self')" class="add_x"></span>
	</body>
</html>
