<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>agency</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/appoint/orders.css" />
		<script src="../../public/js/appoint/appointdetails.js"></script>
	</head>
	<body>
		<div class="head_deng">
			<img src="../../public/img/login/nav_back_icon@2x.png" alt="" />
			<span>预约详情</span>		
		</div>
		<span class="must">预约人</span>
		<div class="appo_bar">
			<div class="appo_bar_name">
				<span class="bar_name">你才是张三</span><br/>
				<span class="bar_type">租户</span>
			</div>
			<div id="wipe_btn" class="bar_tel">
				<img src="../../public/img/reservedetails/content_icon_call@2x.png" alt="" />
			</div>
		</div>
		<span class="must">预约信息</span>
		<div class="appo_bar_2">
			<span class="bar_name">华胥国际大厦</span>
			<div class="bar_mess_cen">
				<span class="bar_mess_area">区域：黄埔-人民广场</span>
				<span class="bar_mess_type">房型：商务中心</span>
			</div>
			<div class="bar_mess_bot">
				<span class="bar_mess_acr">面积：766m&sup2;</span>
				<span class="bar_mess_uni">单价：&yen;5.5元/m&sup2;/天起</span>
			</div>
		</div>
		<span class="must">预约时间</span>
		<div class="appo_bar_3">
			<span class="bar_time">2016-08-08</span>
		</div>
		<span class="must">预约状态</span>
		<div class="appo_state">
			<div class="state_bar">
				<div class="state_time">
					<span class="time_date">08/10</span>
					<span class="time_we">周三</span>
				</div>
				<span class="state_sta">订单成功</span>
			</div>
		</div>
		<div class="appo_state">
			<div class="state_bar">
				<div class="state_time">
					<span class="time_date">08/08</span>
					<span class="time_we">周一</span>
				</div>
				<span class="state_sta">已接单，待看房</span>
			</div>
		</div>
		<div class="appo_state state_line">
			<div class="state_bar state_mar ">
				<div class="state_time">
					<span class="time_date">08/06</span>
					<span class="time_we">周六</span>
				</div>
				<span class="state_sta">等待对方接单</span>
			</div>
		</div>
		<div id="wipe_appo" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">您确定要拨打电话么？</span>
				<span id="cancel" class="cancel">取消</span>
				<span id="confirm" class="cancel confirm">确定</span>
			</div>
		</div>
	</body>
</html>
