<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>appoint_succ</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/appoint/appoint_succ.css" />
		<script src="../../public/js/appoint/appointdetails.js"></script>
	</head>
	<body>
		<div id="wipe_wi" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">预约看房成功</span>
				<span id="cancel" class="cancel">返回</span>
				<span onclick="window.open('appointdetails.html','_self')" class="cancel confirm">查看预约详情</span>
			</div>
		</div>
	</body>
</html>
