<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/appoint/appoint_index.css" />
	</head>
	<body>
		<div class="i_head">
			<span>预约</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_btn">接单</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">已接单，待反馈</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">已接单，待反馈</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">完成</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">完成</span>
		</div>
		<div class="footer">
			<div onclick="window.open('../homepage/index.html','_self')" class="footer_di">
				<span class="footer_wor">首页</span>
			</div>
			<div onclick="window.open('appoint.html','_self')" class="footer_di">
				<span class="footer_wor footer_wor_2 wor_col_ch">预约</span>
			</div>
			<div class="footer_di">
				<img src="../../public/img/footer_nav/bottom_icon05@2x.png" alt="" />
			</div>
			<div onclick="window.open('../message/message.html','_self')" class="footer_di">
				<span class="footer_wor footer_wor_3">信息
				</span>
			</div>
			<div onclick="window.open('../I/ILogin.html','_self')" class="footer_di">
				<span class="footer_wor footer_wor_4">我</span>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
