<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/appoint/upload.css" />
	</head>
	<body>
		<div class="head_deng">
			<span id="up_cancel" class="cha_cancel">取消</span>
			<span>上传合同书</span>		
			<span id="up_confirm" class="cha_confirm">上传</span>
		</div>
		<div class="upload_all">
			<span class="up_wor">请按照要求添加照片</span>
			<div class="up_pic">
				<img src="../../public/img/order/content_icon_plus@2x.png" alt="" /></br>
				<span class="up_pic_wor">合同第一页</span>
			</div>
			<div class="up_pic">
				<img src="../../public/img/order/content_icon_plus@2x.png" alt="" /></br>
				<span class="up_pic_wor">合同最后一页</span>
			</div>
		</div>
		<div id="up_kua" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">您确定要取消本次上传？</span>
				<span id="up_can" class="cancel">取消</span>
				<span id="confirm" class="cancel confirm">确定</span>
			</div>
		</div>
		<div id="ensure" class="wipe">
			<div class="wipe_sm">
				<span class="wipe_sm_p">合同上传成功，后台正在审核</span>
				<span id="wipe_one" class="wipe_one">确认</span>
			</div>
		</div>
		<script src="../../public/js/touch/zepto.min.js"></script>
		<script src="../../public/js/touch/touch.js"></script>
		<script src="../../public/js/touch/zepto-fx.js"></script>
		<script src="../../public/js/appoint/upload.js"></script>
	</body>
</html>
