body
	padding 0
	margin 0
	font-family "微软雅黑"
.search_box
	width 100%
	height 45px
	border-bottom 1px solid #D6D7DC
	padding-left 10px 
	padding-right 10px
	box-sizing border-box
	.ind_search
		width 82%
		height 33px
		line-height 33px
		background #F1F1F1
		border-radius 3px
		padding-left 10px
		float left
		margin-top 5px
		img
			width 12px
			height 12px
		.ind_search_wor
			 color #B4B4B4
			 font-size 12px
	.srh_cal
		width 14%
		font-size 14px
		float left
		color #EA5404
		line-height 45px
		text-align right

