<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>login</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/login/login.css"/>
		<script src="../../public/js/login/login.js"></script>
		
	</head>
	<body>
		<div class="head_deng">
			<img onclick="window.open('../I/I.html','_self')" src="../../public/img/login/nav_back_icon@2x.png" alt="" />
			<span>登录</span>		
		</div>
		<div class="center_deng">
			<div class="deng_num">
				<div class="num_word">
					<img src="../../public/img/login/content_ID_icon@2x.png" alt="" />
					<span>账号：</span>
				</div>
				<input id="user" type="text" placeholder="请输入您的手机号"/>
			</div>
			<div class="deng_num num_bor">
				<div class="num_word">
					<img src="../../public/img/login/content_password_icon@2x.png" alt="" />
					<span>密码：</span>
				</div>
				<input id="pass" type="text" placeholder="请输入您的账号密码"/>
			</div>
			<div class="clear"></div>
		</div>
		<div id="login_btn" class="login" >登录</div>
		<div class="footer">
			<a href="register.html">注册</a>
			<a href="forget.html" class="forget">忘记密码？</a>
			<div class="clear"></div>
		</div>
	</body>
</html>
