@import "../homepage/bottom.styl"
body
	font-size 14px
.head_mes
	width 100%
	height 40px
	background #FFF
	border-bottom 1px solid #d6d7dc
.mes_cen
	width 255px
	height 30px
	margin 0 auto
	padding-top 5px
	color #EA5404
	text-align center
	.message
		width 81px
		height 28px
		display inline-block
		line-height 28px
		border 1px solid #EA5404
		border-top-left-radius 5px
		border-bottom-left-radius 5px
		float left
	.notice
		width 84px
		height 28px
		display inline-block
		line-height 28px
		border-top 1px solid #EA5404
		border-bottom 1px solid #EA5404
		float left
	.need
		width 81px
		height 28px
		display inline-block
		line-height 28px
		border 1px solid #EA5404
		border-top-right-radius 5px
		border-bottom-right-radius 5px
		float left
		position relative
		.need_num
			font-size 10px
			color #EA5404
			position absolute
			top -5px
			left 55px
	.mes_col
		color #FFF
		background #EA5404
.mes_lump
	width 92%
	margin 0 auto
	margin-top 12px
	background #FFF
	border-radius 3px
	box-shadow 0px 0px 7px #999
	position relative
	header
		width 100%
		height 37px
		line-height 37px
		padding-left 10px
		border-bottom 1px solid #d6d7dc
		box-sizing border-box
		font-family "黑体"
		color #323232
		.mes_time
			font-size 12px
			color #848484
			float right
			padding-right 10px
	.addr
		color #848484
		padding-left 10px
		font-size 12px
		padding-bottom 10px
		display inline-block
	.lump_on
		padding 0px 10px 0px 10px
		display inline-block
		line-height 16px
		font-size 12px
		text-indent 2em
		color #979797
		-webkit-margin-after: 0em;
		.mes_btn01
			color #FFF
			width 52px
			height 18px
			line-height 18px
			text-align center
			border-radius 3px
			display inline-block
			background #15B755
			float right
			margin-right 10px
			margin-top 10px
			font-size 12px
		.btn_col_2
			background #0193E6
		.btn_col_3
			background #97B715
		.btn_col_4
			background #EA5404
		&.lump_on_2
			text-indent 1em
	.mes_btn02
		color #979797
		width 80px
		height 24px
		line-height 24px
		text-align center
		display inline-block
		background #EFEFF4
		border-radius 4px
		font-size 12px
		position absolute
		top 70%
		left 50%
		margin-left -40px
	.lump_on_3
		text-indent 1em
	.footer_one
		color #848484
		font-size 12px
		width 100%
		height 25px
		text-align right
		padding-right 10px
		box-sizing border-box
		&.footer_1
			height 35px
			margin-top 15px
#message_one
	display block
#notice_all
	display none
#need_all
	display none
.footer
	.footer_wor_1
		background url("../../img/footer_nav/bottom_nor_icon04@2x.png") no-repeat center 5px
		background-size 24px 24px
	.footer_wor_3
		background url("../../img/footer_nav/bottom_press_icon02@2x.png") no-repeat center 5px
		background-size 24px 24px
	.footer_wor_4
		background url("../../img/footer_nav/bottom_nor_icon01@2x.png") no-repeat center 5px
		background-size 24px 24px
			
