<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<!--<link rel="stylesheet" type="text/css" href="../public/css/homepage/index.css"/>-->
		<link rel="stylesheet" href="../../public/css/homepage/bottom.css" />
		
	</head>
	<body>
		<div class="footer">
			<div id="homepage" class="footer_di footer_wor_1 wor_col_ch">
				<span class="wor_index">首页</span>
			</div>
			<div id="reserve" class="footer_di footer_wor_2">
				<span class="wor_index">预约</span>
			</div>
			<div id="add" class="footer_d">
				<img src="../../public/img/footer_nav/bottom_icon05@2x.png" alt="" />
			</div>
			<div id="message" class="footer_di footer_wor_3">
				<span class="wor_index">信息</span>
				<span class="small_num">3</span>
			</div>
			<div id="me" class="footer_di footer_wor_4">
				<span class="wor_index">我</span>
			</div>
			<div class="clear"></div>
		</div>	
		<script src="../../public/js/touch/zepto.min.js"></script>
		<script src="../../public/js/touch/touch.js"></script>
		<script src="../../public/js/touch/zepto-fx.js"></script>
		<script src="../../public/js/homepage/bottom.js"></script>
	</body>
</html>
