<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>index_search</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/homepage/index_search.css" />
		<!--<script src="../../public/js/index_search.js"></script>-->
	</head>
	<body>
		<div class="search_box">
			<div class="ind_search">
				<img src="../../public/img/homepage/banner_icon_search@2x.png" alt="" />
				<span class="ind_search_wor">挑好房，上XXXXX</span>
			</div>
			<span onclick="window.open('index.html','_self')" class="srh_cal">取消</span>
		</div>
	</body>
</html>
