<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/index.css"/>

	</head>
	<body>
		<header class="index_top">
			<span class="index_top_area">上海</span>
			<span class="index_top_name">二维码的房产单</span>
		</header>
		<div class="index_search">
			<span class="search_details">挑好房，上二维码的房产单</span>
		</div>
		<header class="index_top index_top1">
			<span class="index_top_area">上海</span>
			<div class="index_search index_search1">
				<span class="search_details search_details1">挑好房，上活力矩阵</span>
			</div>
		</header>
		
		<div class="index_slider">
			<ul class="slider_width">
				<li class="slider_list slider_list1"></li>
				<li class="slider_list slider_list2"></li>
				<li class="slider_list slider_list3"></li>
				<li class="slider_list slider_list4"></li>
			</ul>
			<div class="slider_circle">
				<span class="circle_li circle_li_active"></span><span class="circle_li"></span><span class="circle_li"></span><span class="circle_li"></span>
			</div>
		</div>
		
		<div class="index_select">
			<div class="index_select_top">
				<div class="index_select_list">
					<span class="index_select_li">区域</span>
					<div class="index_select_list_hidden">
						<div class="index_select_list_left">
							<ul class="area_list">
								<li >全部</li>
								<li>悯行</li>
								<li class="area_list_active">浦东</li>
								<li>嘉定</li>
								<li>宝山</li>
								<li>闸北</li>
								<li>松江</li>
								<li>青浦</li>
								<li>徐汇</li>
								<li>普陀</li>							
							</ul>
							<ul class="area_list_detail">
								<li class="all">全部</li>
								<li>八佰伴</li>
								<li>川沙</li>
								<li>花木</li>
								<li>金桥</li>
							</ul>
						</div>
						
					</div>					
				</div>				
				<div class="index_select_list">
					<span lass="index_select_li">面积</span>	
					<div class="index_select_list_hidden">
						<div class="price_dowm">
							<div class="price_dowm_top">
								<ul class="price_dowm_top1">
									<li>全部</li>
									<li>3元/m²/天以下</li>
									<li class="price_dowm_top_active">3-4元/m²/天</li>
									<li>4-5元/m²/天</li>
									<li>5-7元/m²/天</li>
									<li>7-9元/m²/天</li>
									<li>9-12元/m²/天</li>
									<li>12元/m²/天以上</li>	
									<li class="search_price">
										<div class="search_price1"></div >——
										<div class="search_price1"></div>
										<div class="search_price1 search_price1_sure">确定</div>
									</li>
								</ul>
							</div>
						
						</div>
					</div>
				</div>
				<div class="index_select_list">
					<span lass="index_select_li">单价</span>
					<div class="index_select_list_hidden">
						<div class="price_dowm">
							<div class="price_dowm_top">
								<ul class="price_dowm_top2">
									<li>全部</li>
									<li>3元/m²/天以下</li>
									<li class="price_dowm_top_active">3-4元/m²/天</li>
									<li>4-5元/m²/天</li>
									<li>5-7元/m²/天</li>
									<li>7-9元/m²/天</li>
									<li>9-12元/m²/天</li>
									<li>12元/m²/天以上</li>	
									<li class="search_price">
										<div class="search_price1"></div >——
										<div class="search_price1"></div>
										<div class="search_price1 search_price1_sure">确定</div>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				<div class="index_select_list">
					<span lass="index_select_li">更多</span>
					<div class="index_select_list_hidden">
						<div class="index_select_list_left">
							<ul class="area_list1">
								<li class="area_list_active">地铁</li>
								<li>房型</li>
								<li>装修</li>				
							</ul>
							<ul class="area_list_detail area_list_detail3 area_list_detail3_active">
								<li class="all">全部</li>
								<li>1号线</li>
								<li>2号线</li>
								<li>3号线</li>
								<li>4号线</li>
								<li>5号线</li>
								<li>6号线</li>
								<li>7号线</li>
								<li>8号线</li>
								<li>9号线</li>
							</ul>
							<ul class="area_list_detail area_list_detail3">
								<li class="all">全部</li>
								<li>众创空间</li>
								<li>商务中心</li>
								<li>创意产业园</li>
								<li>写字楼</li>
								<li>工位</li>
								<li>整栋</li>
								<li>整层</li>
								<li>整层</li>
							</ul>
							<ul class="area_list_detail area_list_detail3">
								<li class="all">全部</li>
								<li>豪装</li>
								<li>精装</li>
								<li>简装</li>
								<li>标准交付</li>
								<li>毛坯</li>
								<li>毛坯</li>		
							</ul>
						</div>
						<div class="index_select_list_bg"></div>
					</div>					
				</div>
				<i class="index_select_bg"></i>
			</div>
			
		</div>
		<div class="index_show_bottom">
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>					
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span><span class="index_show_right_commission">佣金：1个月</span>
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>
					
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
				<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
				<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
		</div>
		<div class="index_select_list_bg"></div>
		<div class="index_show_right_bg"></div>
		<div class="city_select">
			<div class="city_select_top">
				<span class="back_index">关闭</span>
				<div class="city_select_title">选择城市</div>
			</div>
			<div class="city_select_bottom">
				<div class="city_select_area">北京</div>
				<div class="city_select_area">上海</div>
			</div>
		</div>
		<div class="footer">
			<div id="homepage" class="footer_di footer_wor_1 wor_col_ch">
				<span class="wor_index">首页</span>
			</div>
			<div id="reserve" class="footer_di footer_wor_2">
				<span class="wor_index">预约</span>
			</div>
			<div class="footer_d">
				<img id="add" src="../../public/img/footer_nav/bottom_icon05@2x.png" alt="" />
			</div>
			<div id="message" class="footer_di footer_wor_3">
				<span class="wor_index">信息</span>
				<span class="small_num">3</span>
			</div>
			<div id="me" class="footer_di footer_wor_4">
				<span class="wor_index">我</span>
			</div>
			<div class="clear"></div>
		</div>		
		<script src="../../public/js/touch/zepto.min.js"></script>
		<script src="../../public/js/touch/touch.js"></script>
		<script src="../../public/js/touch/zepto-fx.js"></script>
		<script src="../../public/js/homepage/index.js"></script>
		<script src="../../public/js/homepage/bottom.js"></script>
	</body>
</html>
