@import "../I/about.styl"
@import "../I/setting.styl"
.must
	height 33px
	width 100%
	display inline-block
	padding-left 10px
	line-height 33px
	color #B6B6B6
	font-size 14px
	box-sizing border-box
.appo_bar
	background #FFF
	width 100%
	height 54px
	border-bottom 1px solid #E3E3E8
	padding 10px
	box-sizing border-box
	position relative
	&:before
		content ''
		position absolute
		top 7px
		left 10px
		width 40px
		height 40px
		background url("../../img/reservedetails/content_img_user@2x.png") no-repeat
		background-size cover
	.appo_bar_name
		width 70%
		height 30px
		float left
		margin-left 50px 
		border-right 1px solid #E3E3E8
		.bar_name
			font-size 14px
			color #323232
			line-height 16px
		.bar_type
			color #646464
			font-size 12px
	.bar_tel
		width 15%
		float left
		text-align center
		line-height 40px
		img
			width 20px
			height 20px
.appo_bar_2
	background #FFF
	width 100%
	height 65px
	border-bottom 1px solid #E3E3E8
	padding 10px
	padding-top 7px
	box-sizing border-box
	.bar_name	
		font-size 14px
		color #323232
	.bar_mess_cen
		width 70%
		font-size 12px
		color #646464
		.bar_mess_area
			float left
			line-height 16px
		.bar_mess_type
			float right
			line-height 16px
	.bar_mess_bot
		width 80%
		font-size 12px
		color #646464
		.bar_mess_acr
			float left
			line-height 16px
		.bar_mess_uni
			float right
			line-height 16px
.appo_bar_3
	width 100%
	height 45px
	line-height 25px
	padding 10px
	box-sizing border-box
	background #FFF
	font-size 14px
	color #323232
.appo_btn
	display inline-block
	width 96%
	height 44px
	border-radius 3px
	text-align center
	line-height 44px
	color #FFF
	background #EA5404
	margin-left 3%
	margin-top 30px