@import "orders.styl"
.head_deng
	.cha_cancel
		font-size 14px
		color #323232
		line-height 40px
		float left
		margin-left 10px
	.cha_confirm
		font-size 14px
		float right 
		color #EB5C18
		line-height 40px
		margin-right 10px
.change_time
	width 100%
	height 44px
	border-top 1px solid #E3E3E8
	background #FFF
	input
		color #BCBCBC
		font-size 14px
		width 24%
		height 40px
		float right
		margin-right 10px
		outline none
		border 0px
		font-family "微软雅黑"
.wipe
	.wipe_sm
		.wipe_one
			width 100%
			height 43px
			text-align center
			line-height 43px
			color #EB5C18
			display inline-block			