@import "personalData.styl"
@import "../message/message_all.styl"
@import "Ilo_three.styl"
.content
	display none
.head_deng
	span
		font-size 16px
.coll_tw
	width 100%
	height 40px
	background #FFF
	margin-top 5px
	border-bottom 1px solid #d6d7dc
	line-height 40px
	position relative
	.coll_need
		width 50%
		text-align center
		display inline-block
		float left
	.coll_col
		color #ea5404
		border-bottom 1px solid #ea5404
	&:after
		content ''
		position absolute
		top 10px
		left 50%
		width 1px
		height 22px
		border-right 1px solid #d6d7dc
#buildings
	display none
.ind_lump
	.ind_lump_wor
		width 58%
		.lump_wor_name
			.three_rig
				width 12px
				height 12px
				background url("../../img/homepage/collect_icon_press@2x.png") no-repeat
				background-size cover
				float right
				margin-right 15px
		