@import "personalData.styl"
.per_message
	.message_all
		position relative
		img
			width 30px
			height 30px
			margin-top 2px
		&:after
			content ''
			position absolute
			right 4px
			top 10px
			width 14px
			height 14px
			background url("../../img/me/nav_icon_back@2x.png") no-repeat
			background-size 50%
.edit_pic
	position absolute
	top 0px
	left 0px
	background rgba(50,50,50,0.5)
	width 100%
	height 100%
	display none
	.edit_pic_sm
		width 100%
		padding-left 15px
		padding-right 15px
		box-sizing border-box
		position absolute
		bottom 0px
		left 0px
		background #FFF
		text-align center
		.ed_pic_sm_wor
			display inline-block
			width 100%
			height 43px
			line-height 43px
			border-bottom 1px solid #EBEBEE
			font-size 14px
			color #323232
			position relative
			input
				width 120%
				height 43px
				border-radius 4px
				position absolute
				right 0px
				bottom 0px
				border 0px
				background rgba(135,135,135,0)
				font-size 0px
				overflow hidden
				outline none
		.sm_wor_cha
			color #EB5C18
			border-bottom 0px
			
			
			