@import "I.styl"

.user
	position relative
	&:before
		background url("../../img/me/in_user_personaldata.png")
		background-size cover
	img
		width 18px
		height 18px
		position absolute
		top 65px
		left 60px
	.username
		width 70px
		height 36px
		padding-top 30px
		margin-left 90px
		position relative
		.username_n
			font-size 14px
		.user_chan
			height 20px
			color #848484
			font-size 12px
			&:after
				content ''
				position absolute
				top 51px
				left 53px
				width 12px
				height 14px
				background url("../../img/me/log-in_edit_icon@2x.png") no-repeat
				background-size cover
.footer
	.footer_wor_1
		background url("../../img/footer_nav/bottom_nor_icon04@2x.png") no-repeat center 5px
		background-size 24px 24px
	.footer_wor_4
		background url("../../img/footer_nav/bottom_press_icon01@2x.png") no-repeat center 5px
		background-size 24px 24px
			