<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>about</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/I/about.css" />
	</head>
	<body>
		<div class="head_deng">
			<img onclick="window.open('setting.html','_self')" src="../../public/img/login/nav_back_icon@2x.png" alt="" />
			<span>关于</span>		
		</div>
		<div class="about_pic">
			<img class="about_logo" src="../../public/img/about/content_img_logo@2x.png" alt="" />
			<div class="version">
				<img class="about_wor" src="../../public/img/about/content_text_logo@2x.png" alt="" />
				<span class="version_num">v1.0.0</span>
			</div>
		</div>
		<div class="setting_on setting_on_1">
			<span>电话</span>
			<span class="set_num">021-69547845</span>
		</div>
		<div class="setting_on setting_on_1">
			<span>服务条款</span>
		</div>
	</body>
</html>
