<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/I/editdata.css" />
		<script src="../../public/js/I/editdata.js"></script>
	</head>
	<body>
		<div class="head_deng">
			<img onclick="window.open('personalData.html','_self')" src="../../public/img/login/nav_back_icon@2x.png" alt="" />
			<span>个人资料</span>		
		</div>
		<div class="per_message">
			<div class="message_all">
				<span class=" message_le">头像</span>
				<img src="../../public/img/me/in_user_personaldata.png" alt="" />
			</div>
			<div class="message_all">
				<span class=" message_le">简介</span>
				<span class="message_ri">以前喜欢一个人，现在喜欢一个</span>
			</div>
			<div class="message_all">
				<span class=" message_le">企业邮箱/公司总机</span>
				<span class="message_ri">823546415@qq.com</span>
			</div>
			<div class="message_all">
				<span class=" message_le">联系人</span>
				<span class="message_ri">张三</span>
			</div>
			<div class="message_all">
				<span class=" message_le">联系方式</span>
				<span class="message_ri">18956024163</span>
			</div>
			<div class="message_all">
				<span class=" message_le">微信号码</span>
				<span class="message_ri">18956024163</span>
			</div>
			<div class="message_pic">
				<div class="mes_pic_1" id="pic_1">
					<div class="mes_pic_back"></div>
					<span class="mes_pic_wor">微信二维码</span>
				</div>
				<div class="mes_pic_1 mes_pic_2" id="pic_2">
					<div class="mes_pic_back"></div>
					<span class="mes_pic_wor">营业执照</span>
				</div>
				<div class="mes_pic_1 mes_pic_3" id="pic_3">
					<div class="mes_pic_back"></div>
					<span class="mes_pic_wor">租售代理协议</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="edit_pic" id="edit_pic">
			<div class="edit_pic_sm">
				<span class="ed_pic_sm_wor">拍照</span>
				<span class="ed_pic_sm_wor"><input type="file" />从相册选择</span>
				<span class="ed_pic_sm_wor sm_wor_cha" id="cancel">取消</span>
			</div>
		</div>
	</body>
</html>
