<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/I/I.css" />
	</head>
	<body>
		<div class="i_head">
			<span>我</span>
			<img src="../../public/img/me/nav_set_icon@2x.png" alt="" />
		</div>
		<div class="user" onclick="window.open('../login/login.html','_self')">
			<span class="user_click">点击登录/注册</span>
		</div>
		<div class="i_cen">
			<div class="cen_wor">
				<span class="wor_num">0</span><span class="wor_word">收藏</span>
			</div>
			<div class="cen_wor_2">
				<span class="wor_num">0</span><span class="wor_word">积分</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="lis_i">
			<span class="lis_i_1">我发布的需求</span>
		</div>
		<div class="lis_i">
			<span class="lis_i_1 lis_i_2">我发布的房源</span>
		</div>
		<div class="lis_i">
			<span class="lis_i_1 lis_i_3">历史交易</span>
		</div>
		<div class="lis_i">
			<span class="lis_i_1 lis_i_4">过期房源</span>
		</div>
		<div class="footer">
			<div onclick="window.open('../homepage/index.html','_self')" class="footer_di footer_wor_1">
				<span class="wor_index">首页</span>
			</div>
			<div class="footer_di footer_wor_2">
				<span class="wor_index">预约</span>
			</div>
			<div onclick="window.open('../issue/issue_add.html','_self')" class="footer_d">
				<img src="../../public/img/footer_nav/bottom_icon05@2x.png" alt="" />
			</div>
			<div class="footer_di footer_wor_3">
				<span class="wor_index">信息</span>
				<span class="small_num">3</span>
			</div>
			<div onclick="window.open('../I/I.html','_self')" class="footer_di footer_wor_4 wor_col_ch">
				<span class="wor_index">我</span>
			</div>
			<div class="clear"></div>
		</div>		
	</body>
</html>
