<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<title>二维码的房产单 -  杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../../public/css/I/Ilo_three.css" />
		<!--<script src="../../public/js/touch.js"></script>
		<script src="../../public/js/zepto-fx.js"></script>
		<script src="../../public/js/zepto.min.js"></script>-->
	</head>
	<body>
		<div class="head_deng">
			<img onclick="window.open('ILogin.html','_self')" src="../../public/img/login/nav_back_icon@2x.png" alt="" />
			<span>我预约的房源</span>		
		</div>
			<div class="ind_lump">
				<div class="ind_lump_pic"></div>
				<div class="ind_lump_wor">
					<div class="lump_wor_name"><span class="lump_name">东方金融中心</span><span class="three_rig">待接单</span></div>
					<span class="lump_addr">浦东-八佰伴</span><br/>
					<span class="lump_type">商务中心</span><br/>
					<div class="lump_money">
						<span class="mon_oran">&yen;7</span>
						<span class="mon_lef">元/平米/天起</span>
						<span class="mon_rig">佣金：1个月</span>
					</div>
				</div>
			</div>
			<div class="ind_lump">
				<div class="ind_lump_pic"></div>
				<div class="ind_lump_wor">
					<div class="lump_wor_name"><span class="lump_name">东方金融中心</span><span class="three_rig">完成</span></div>
					<span class="lump_addr">浦东-八佰伴</span><br/>
					<span class="lump_type">商务中心</span><br/>
					<div class="lump_money">
						<span class="mon_oran">&yen;7</span>
						<span class="mon_lef">元/平米/天起</span>
					</div>
				</div>
			</div>
	</body>
</html>
